@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian&family=Oleo+Script+Swash+Caps:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(200, 163, 199, 0.893);
}
.img1{
    margin-left: 260px;
    height: 400px;
    width: 1000px;
    border-radius: 20px;
}
.img2{
    position: absolute;
    height: 50px;
    width: 80px;
    bottom:660px;
    margin-left: 270px;
    border-radius: 50px;
    transition: 0.3s;
}
.img2:hover{
    transform: scale(1.1);
}
.coffeglass{
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}
.coctale{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 200px;
    margin-top: 100px;
}

.h1i{
    text-shadow: 2px 2px black ;
    font-size: 50px;
    font-style: italic;
    position: absolute;
    margin-left: 360px;
    bottom: 650px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(83, 12, 83);
    transition: 0.3s;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;

}
.h1i:hover{
    transform: scale(1.1);
}
.ahref1{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 350px;
    margin-left: 1000px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.ahref1:hover{
    transform: scale(1.1);
}
.ahref2{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-left: 1060px;
    top: 350px;
    transition: 0.2s;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.ahref2:hover{
    transform: scale(1.1);
}
.ahref3{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-left: 1130px;
    top: 350px;
    transition: 0.2s;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.ahref3:hover{
    transform: scale(1.1);   
}


                /* main */


main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome{
    font-size: 25px;
    color: bisque;
    width: 750px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    transition: 0.3s;
    text-shadow: 1px 2px rgb(78, 5, 78);
}
.sales1, .sales2 {
    display: flex;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.sales img{
    height: 250px;
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.sales11{
    margin: 10px;
    transition: 0.5s;
}
.sales11:hover{
    transform: scale(1.1);
}
.salesP{
    margin-top: 5px;
}


                                /* footer */


.footerdiv1 div{
    font-weight: 600;
    font-size: 16px;
}
.footerdiv1 h3{
    font-size: 22px;
    margin-bottom: 20px;
}
.footerparent{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 3px solid rgb(42, 14, 51);
    overflow: hidden;
}

.div1{
    position: absolute;
    left: 100px;
}
.div2{
    position: absolute;
    left: 250px;
}
.div3{
    position: absolute;
    left: 200px;
    bottom: 2px;
}
.div4{
    position: absolute;
    left: 200px;
    bottom: 20px;
}         
.div5{
    position: absolute;
    left: 400px;
    bottom: 1px;
    top: 1px;
}   
.h33{
    position: absolute;
    left: 100px;
    bottom: 52px;
}   
.h333{
    position: absolute;
    left: 130px;
    bottom: 52px;
} 
select{
    width: 200px;
    border-radius: 10px;
    border: groove 2px purple;
}      
.select2{
    position: absolute;
    bottom: 3px;
}
.footerdiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.footerdiv2 .div6{
    margin-top: 200px;
    margin-bottom: 20px;
    margin-right: 800px;
    text-shadow: 2px 1px  whitesmoke;
}

.input1{
    border-radius: 10px;
}